<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 m-5 border-top">
  <div class="col mb-3">
    <a
      href="/"
      class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      aria-label="Software Development"
    >
			<i class="bi bi-code-slash me-1"></i>
    </a>
    <p class="text-body-secondary">Software Development © 2026</p>
  </div>

  <div class="col mb-3"></div>

  <div class="col mb-3">
    <h5>Frontend</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">HTML & CSS</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">JavaScript</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">TypeScript</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Angular</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Bootstrap</a>
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Backend</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">REST API</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Node.js</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">ASP.NET Core</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Databases</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Authentication</a>
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Development</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Git & GitHub</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Testing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Docker</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Clean Code</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">CI/CD</a>
      </li>
    </ul>
  </div>
</footer>