<div class="input-group mb-3">
    <span class="input-group-text">ID</span>
    <input type="text" disabled class="form-control" [(ngModel)]="developerToEdit.id">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Name</span>
    <input type="text" class="form-control" [(ngModel)]="developerToEdit.name">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Email</span>
    <input type="text" class="form-control" [(ngModel)]="developerToEdit.email">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Job</span>
    <input type="text" class="form-control" [(ngModel)]="developerToEdit.job">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Age</span>
    <input type="number" class="form-control" [(ngModel)]="developerToEdit.age">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Salary</span>
    <input type="number" class="form-control" [(ngModel)]="developerToEdit.salary">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Image URL</span>
    <input type="text" class="form-control" [(ngModel)]="developerToEdit.image">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Skills (comma separated)</span>
    <input type="text" class="form-control" [(ngModel)]="developerToEdit.skillsAsString">
</div>

<button class="btn btn-success" (click)="save()">Update developer</button>